@model IEnumerable<Chantier>
@{
	ViewData["Title"] = "Chantiers";
    var userRole = (int)ViewData["userRole"];
}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="text-muted">Les chantiers</h5>
        @if (userRole == 1)
        {
            <a asp-controller="Chantier" asp-action="Create" class="btn btn-primary">Ajouter un chantier</a>
        }
        else
        {
            <a asp-controller="Chantier" asp-action="Create" class="btn btn-primary disabled">Ajouter un chantier</a>
        }
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom du chantier</th>
                    <th scope="col">Emplacement</th>
                    <th scope="col">Date debut</th>
                    <th scope="col">Date fin</th>
                    <th scope="col">Budget</th>
                    <th scope="col">Proges</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var chantier in Model)
                {
                    <tr>
                        <td>@chantier.ChantierName</td>
                        <td>@chantier.Localisation.Prefecture.PrefectureName</td>
                        <td>@chantier.DateDebut.ToString("dd-MM-yyyy")</td>
                        <td>@chantier.DateFin.ToString("dd-MM-yyyy")</td>
                        <td>@chantier.Budget</td>
                        <td>@chantier.Progres</td>
                        <td>
                            @if (userRole == 1)
                            {
                                <a asp-controller="Chantier" asp-action="Delete" asp-route-id="@chantier.ChantierId" class="btn btn-sm btn-danger">Supprimer</a>
                                <a asp-controller="Chantier" asp-action="Edit" asp-route-id="@chantier.ChantierId" class="btn btn-sm btn-warning">Modifier</a>
                            }
                            <a asp-controller="Chantier" asp-action="Chantier" asp-route-id="@chantier.ChantierId" class="btn btn-sm btn-warning">Plus</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>